<!-- Wappler include head-page="layouts/main-contucarga" appConnect="local" is="dmx-app" bootstrap4="local" fontawesome_4="local" jquery_slim_35="local" moment_2="cdn" components="{dmxFormatter:{},dmxValidator:{},dmxBootstrap4Toasts:{},dmxBootstrap4Alert:{}}" -->
<section class="mt-5 mt-md-8 ">
    <div class="container">
        <div class="row bg-pistachio bg-topography-light">
            <form class="w-100 d-flex flex-column flex-lg-row align-items-center justify-content-between p-4 p-xl-5" is="dmx-serverconnect-form" method="post" id="subscribcion_boletin" action="/api/email-newsletter-subscription-insert" dmx-on:success="run([{run:{action:`subscribcion_boletin.reset()`}},{'toast.show':{title:'Suscripción exitosa',message:'Se ha suscrito exitosamente'}}])" dmx-on:error="run({'toast.show':{message:`subscribcion_boletin.lastError.message`}})" dmx-on:invalid="run([{'toast.show':{message:'Este email ya es parte de nuestra lista de subscriptores '}},{run:{action:`subscribcion_boletin.reset()`}}])">
                <h4 class="text-dark">Suscríbase a nuestro boletín informativo</h4>
                <div class="d-flex w-100 style18 flex-column flex-md-row flex-lg-row justify-content-start align-items-stretch align-items-lg-center align-items-md-center justify-content-md-center flex-sm-row align-items-sm-center"><input type="email" class="form-control border-0 w-400 my-3 my-xl-0 style41 form-control-lg mr-sm-2" placeholder="Ingrese su correo electrónico" required="" data-msg-required="Este campo es requerido" data-rule-email="" data-msg-email="Por favor ingrese un correo electrónico válido." name="email" id="emailNewsletter"><button class="btn btn-darkblue btn-lg hover-lift-light my-lg-0 mt-3 mb-3 mr-0 w-auto ml-md-2 flex-grow-1 style7" dmx-on:click="subscribcion_boletin.submit()">Suscríbase</button>
                    <h4 class="text-darkblue font-weight-normal my-3 my-xl-0 style17 mr-md-4 d-none">
                        Get all new
                    </h4>
                </div>

            </form>
        </div>
    </div>
</section>