<!doctype html>
<html is="dmx-app" lang="es">

<head>
  <meta name="ac:route" content="/">
  <script src="/dmxAppConnect/dmxAppConnect.js"></script>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Contucarga</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:title" content="Contucarga">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description" content="Operador Logístico Integral líder en Venezuela">

  <link rel="shortcut icon" href="/img/favicon/apple-touch-icon.png">


  <!-- Font Awesome -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/inertia/dist/assets/vendor/swiper/swiper.css">

  <!-- Uncomment these lines if you prefer vendors broken down -->
  <!-- <link rel="stylesheet" type="text/css" href="./assets/vendor/aos/aos.css">
    <link rel="stylesheet" type="text/css" href="./assets/vendor/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="./assets/vendor/pikaday/pikaday.css">
    <link rel="stylesheet" type="text/css" href="./assets/vendor/jarallax/dist/jarallax.css">
    <link rel="stylesheet" type="text/css" href="./assets/vendor/highlight/styles.css">
    <link rel="stylesheet" type="text/css" href="./assets/vendor/atvImg/atvImg.css"> -->

  <!-- <link rel="stylesheet" type="text/css" href="/inertia/dist/assets/css/coyote.css"> -->

  <!-- Google Tag Manager -->
  <script src="/js/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous"></script>
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MHVG24M');
  </script>
  <!-- End Google Tag Manager -->

  <!-- Google tag (gtag.js) -->


  <script async src="https://www.googletagmanager.com/gtag/js?id=G-M0JTST5BHY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-M0JTST5BHY');
  </script>

  <script src="/dmxAppConnect/dmxBootstrap4Navigation/dmxBootstrap4Navigation.js" defer=""></script>
  <link rel="stylesheet" href="/fontawesome4/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/bootstrap/4/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/style.min.css" />
  <link rel="stylesheet" type="text/css" href="/inertia/dist/assets/css/vendor.min.css">
  <link rel="stylesheet" type="text/css" href="/inertia/dist/assets/css/theme.min.css">

  <script src="/inertia/dist/assets/vendor/swiper/swiper.min.js" defer=""></script>
  <script src="/dmxAppConnect/dmxSwiper/dmxSwiper.js" defer=""></script>
  <script src="/dmxAppConnect/dmxSwiper/swiper.min.js" defer=""></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxSwiper/themes/default.css" />
  <link rel="stylesheet" href="/dmxAppConnect/dmxAnimateCSS/animate.min.css" />
  <script src="/dmxAppConnect/dmxAnimateCSS/dmxAnimateCSS.js" defer=""></script>

  <script src="/dmxAppConnect/dmxBootstrap4Modal/dmxBootstrap4Modal.js" defer=""></script>
  <script src="/dmxAppConnect/dmxSmoothScroll/dmxSmoothScroll.js" defer=""></script>
  <script src="/dmxAppConnect/dmxFormatter/dmxFormatter.js" defer=""></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxValidator/dmxValidator.css" />
  <script src="/dmxAppConnect/dmxValidator/dmxValidator.js" defer=""></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxDatePicker/daterangepicker.min.css" />
  <script src="/dmxAppConnect/dmxDatePicker/daterangepicker.min.js" defer=""></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxDatePicker/dmxDatePicker.css" />
  <script src="/dmxAppConnect/dmxDatePicker/dmxDatePicker.js" defer=""></script>

  <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <script src="/dmxAppConnect/dmxGooglePlaces/dmxGooglePlaces.js" defer=""></script>
  <script src="/dmxAppConnect/dmxBootstrap4Toasts/dmxBootstrap4Toasts.js" defer=""></script>
  <script src="/dmxAppConnect/dmxBootstrap5Toasts/dmxBootstrap5Toasts.js" defer=""></script>
  <script src="/dmxAppConnect/dmxDataTraversal/dmxDataTraversal.js" defer=""></script>
  <script src="/dmxAppConnect/dmxDatastore/dmxDatastore.js" defer=""></script>
  <script src="/dmxAppConnect/dmxBootstrap4Collapse/dmxBootstrap4Collapse.js" defer=""></script>
  <script src="/dmxAppConnect/dmxStateManagement/dmxStateManagement.js" defer=""></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxBootstrap4TableGenerator/dmxBootstrap4TableGenerator.css" />
  <link rel="stylesheet" href="/dmxAppConnect/dmxPreloader/dmxPreloader.css" />
  <script src="/dmxAppConnect/dmxPreloader/dmxPreloader.js" defer=""></script>
  <script src="/dmxAppConnect/dmxRouting/dmxRouting.js" defer=""></script>
  <script src="/dmxAppConnect/dmxBootbox/bootbox.all.min.js" defer=""></script>
  <script src="/dmxAppConnect/dmxBootbox/dmxBootbox.js" defer=""></script>
  <script src="/dmxAppConnect/dmxBrowser/dmxBrowser.js" defer=""></script>
  <meta property="og:site_name" content="Contucarga">
  <meta property="og:url" content="www.contucarga.com">
  <meta name="robots">
  <meta name="keywords" content="logística, aduanas, carga, transporte, importar, exportar, comercio exterior">
  <link rel="canonical">
  <link rel="icon" href="/img/favicon/apple-touch-icon.png">
  <script src="/dmxAppConnect/dmxGeolocation/dmxGeolocation.js" defer=""></script>
  <script src="/dmxAppConnect/dmxMoment/dmxMoment.js" defer=""></script>
  <script src="/dmxAppConnect/dmxVideo/dmxVideo.js" defer=""></script>
  <script src="/dmxAppConnect/dmxTyped/dmxTyped.js" defer=""></script>
  <script src="/dmxAppConnect/dmxTyped/typed.min.js" defer=""></script>
  <script src="/dmxAppConnect/dmxBootstrap5Navigation/dmxBootstrap5Navigation.js" defer></script>
  <script src="/dmxAppConnect/dmxMasonry/dmxMasonry.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxBootstrap5TableGenerator/dmxBootstrap5TableGenerator.css" />
  <link rel="stylesheet" href="/dmxAppConnect/dmxAutocomplete/dmxAutocomplete.css" />
  <script src="/dmxAppConnect/dmxAutocomplete/dmxAutocomplete.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Modal/dmxBootstrap5Modal.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxMediumEditor/medium-editor.css" />
  <script src="/dmxAppConnect/dmxMediumEditor/medium-editor.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxMediumEditor/dmxMediumEditor.css" />
  <script src="/dmxAppConnect/dmxMediumEditor/dmxMediumEditor.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxMediumEditor/themes/default.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/summernote/dist/summernote-lite.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/summernote/dist/summernote-lite.min.js" defer></script>
  <script src="/dmxAppConnect/dmxSummernote/dmxSummernote.js" defer></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/summernote/dist/summernote-bs4.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/summernote/dist/summernote-bs4.min.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap4Alert/dmxBootstrap4Alert.js" defer></script>
</head>

<body id="maincontucarga">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHVG24M" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->




  <div is="dmx-view" id="content">
    <%- await include(content, locals); %>
  </div>


  <script src="/inertia/dist/assets/js/vendor.min.js"></script>

  <!-- Uncomment these lines if you prefer vendors broken down -->
  <!-- <script src="./assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="./assets/vendor/fancybox/jquery.fancybox.min.js"></script>
        <script src="./assets/vendor/pikaday/pikaday.js"></script>
        <script src="./assets/vendor/jquery.elevateZoom/jquery.elevateZoom.min.js"></script>
        <script src="./assets/vendor/smooth-scroll/smooth-scroll.min.js"></script>
        <script src="./assets/vendor/aos/aos.js"></script>
        <script src="./assets/vendor/jarallax/dist/jarallax.min.js"></script>
        <script src="./assets/vendor/jarallax/dist/jarallax-video.min.js"></script>
        <script src="./assets/vendor/jarallax/dist/jarallax-element.min.js"></script>
        <!-- <script src="./assets/vendor/zoomerang/zoomerang.js"></script> -->
  <!-- <script src="./assets/vendor/highlight/highlight.min.js"></script>
  <script src="./assets/vendor/atvImg/atvImg-min.js"></script> -->


  <!-- Main Theme file -->
  <script src="/inertia/dist/assets/js/theme.min.js"></script>

  <script src="/bootstrap/4/js/bootstrap.min.js"></script>
  <script src="/bootstrap/4/js/popper.min.js"></script>

  <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/20041373.js"></script>
  <!-- End of HubSpot Embed Code -->

  <script src="https://app.hyperise.io/snippets/r/v2/CyD7fyhpA.js?v=1.0.0"></script>
  <script>
    hyperise.init();
  </script>

  <script src="/inertia/dist/analytics.js"></script>
  <script src="/inertia/dist/ip.js"></script>
</body>

</html>