<!-- Wappler include head-page="layouts/main-contucarga" fontawesome_4="cdn" is="dmx-app" id="home" appconnect="local" jquery_slim_35="cdn" bootstrap5="cdn" components="{dmxSwiper:{},dmxBootstrap5Navigation:{},dmxBrowser:{},dmxDatastore:{},dmxSmoothScroll:{},dmxStateManagement:{},dmxVideo:{},dmxBootstrap4Toasts:{},dmxValidator:{},dmxFormatter:{}}" src="/img/container-yard-perspective" -->
<dmx-serverconnect id="serverconnectmodulos" url="api/test_modules"></dmx-serverconnect>

<dmx-query-manager id="query1"></dmx-query-manager>

<!-- Hero -->
<section class="pt-7 pt-lg-8 pb-4 pb-lg-4">
    <div class="container">
        <div class="row">
            <div class="text-center text-lg-left fx-fade-up animation-delay-2 col-lg-6 align-self-center pb-4 pe-xxl-5" style="/* padding-right: 4rem */">

                <h1 class="mt-4 pe-0 display-3">Simplifique sus&nbsp; importaciones&nbsp;</h1>

                <h3 class="text-muted mt-4 fw-bold" style="font-weight: 200; line-height: 2rem;">Reciba ayuda personalizada de&nbsp; especialistas en aduanas y logística.&nbsp;</h3>

                <div class="row mt-5">
                    <div class="col-12 col-lg-auto">
                        <a href="#" class="btn btn-primary btn-lg text-uppercase-bold-sm shadow-sm hover-lift" dmx-on:click="run({condition:{if:`(browser1.viewport.width &lt; 800)`,then:{steps:{run:{action:`scroll2.goto(2000)`}}},else:{steps:{run:{action:`scroll2.goto(750)`}}}}})">Agende una llamada<i class="fa fa-chevron-right fa-xs ml-2"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 fx-fade-up animation-delay-4 col">
                <img src="/img/chuttersnap-5Rlrs3sKVJU-unsplash.jpg" width="100%">
                <!-- Video card -->
            </div>
        </div>
    </div>
</section>
<section class="mt-md-5 pb-6 pt-4">
    <div class="container w-md-75 w-sm-100">
        <h3 class="text-center text-primary text-uppercase-bold-sm line-height-lg mb-3">las empresas más reconocidas nos han escogido como sus aliados</h3>
        <div class="row justify-content-between align-items-center mt-5">
            <div class="style77 col-4 col-lg-2 mb-lg-0 mb-5">

                <img width="120" src="https://res.cloudinary.com/dbi1zp0na/image/upload/v1630556897/Linde-logo_yi9pul.png" alt="linde group logo">




                <div class="text-dark mx-auto img-fluid style76" style="width: 70px;">

                </div>
            </div>
            <div class="style77 col-4 col-lg-2 mb-lg-0 mb-5">
                <img src="https://res.cloudinary.com/dbi1zp0na/image/upload/v1630556899/puma-logo_s4jdgd.png" width="120" alt="puma logo">
                <div class="text-dark mx-auto img-fluid" style="width: 140px;">

                </div>
            </div>
            <div class="style77 col-4 col-lg-2 mb-lg-0 mb-5">
                <img src="https://res.cloudinary.com/dbi1zp0na/image/upload/v1630556898/McDonalds-logo_gpphd7.png" width="120" alt="McDonald logo">
                <div class="text-dark mx-auto img-fluid" style="width: 110px;">

                </div>
            </div>
            <div class="style77 col-4 col-lg-2 mb-4 mb-lg-0">
                <img src="https://res.cloudinary.com/dbi1zp0na/image/upload/v1630556896/BK-logo_kdm9uo.png" width="120" alt="BK logo">
                <div class="text-dark mx-auto img-fluid" style="width: 55px;">

                </div>
            </div>
            <div class="style77 col-4 col-lg-2 mb-4 mb-lg-0">
                <img src="https://res.cloudinary.com/dbi1zp0na/image/upload/v1630556898/pizza-hut-logo_jbntgh.png" width="120" alt="Pizza hut logo">
                <div class="text-dark mx-auto img-fluid" style="width: 140px;">

                </div>
            </div>
            <div class="style77 col-4 col-lg-2 mb-4 mb-lg-0">
                <img src="https://res.cloudinary.com/dbi1zp0na/image/upload/v1630556898/makro-logo_tnim3e.png" width="120" alt="makro logo">
                <div class="text-dark mx-auto img-fluid" style="width: 110px;">

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features #1 -->
<section class="pt-2 pt-lg-6" id="form_section">
    <div class="container">
        <div class="row " style="/* margin-left: 0rem */ /* margin-right: 0rem */">
            <div class="col-lg-5 text-lg-left" style="/* padding-right: 2rem */">
                <h2 class="text-darkblue lh-base">Solución logística integral</h2>

                <p class="text-secondary mt-4 pb-2">Ofrecemos soluciones que optimizan su proceso de aduanas, reduciendo el tiempo y los costos en el despacho de mercancías. Contamos con socios estratégicos autorizados para operar en todas las aduanas y puertos del país y todo tipo de mercancías.</p>

                <ul class="list-group">
                    <li class="list-group-item text-secondary no-border no-background">Asistimos en el cumplimiento de normativas y regulaciones de comercio exterior</li>
                    <li class="list-group-item text-secondary no-border no-background" style="">Asesoramos y apoyamos en la gestión de permisos y trámites ante las autoridades</li>
                    <li class="list-group-item text-secondary no-border no-background" style="">
                        <p wappler-command="editContent"><span style="color: var(--body-text); font-family: var(--body-font); font-size: var(--text-body);">Evaluamos y le explicamos el proceso y las alternativas</span></p>
                    </li>
                </ul>
                <h5 class="border-top mt-2 pt-4 text-secondary">Transporte Internacional</h5>
                <p class="text-secondary">Envíe su mercancía mediante transporte marítimo, aéreo y terrestre. Le ofrecemos la opción más adecuada a las necesidades de cada operación.</p>
                <h5 class="pt-2 text-secondary">Agenciamiento de Carga&nbsp;</h5>
                <p class="text-secondary">A través de nuestra red de agentes internacionales transportamos carga desde y hasta cualquier lugar del mundo de manera segura.&nbsp;</p>
                <h5 class="pt-2 text-secondary">Asesoría y Proyectos</h5>

                <p class="text-secondary">Contamos con la experiencia en planificación logística y ejecución de proyectos de cargas con características especiales.</p>

                <h5 class="pt-2 text-secondary">Y más...</h5>
            </div>

            <div class="bg-dark bg-topography-dark mt-6 mt-lg-2 rounded rounded-3 pt-5 pb-5 ps-3 pe-3 col-lg-7 offset-xxl-1 col-xxl-6 col style164" style="/* padding-left: 1rem */ /* padding-right: 1rem */">
                <div class="bg-white w-lg-100 rounded shadow-light-lg style156 " style="">
                    <h2 class="text-center">
                        Solicite su consulta gratuita</h2>
                    <p class="text-center">Obtenga una asesoría gratuita con uno de nuestros expertos:</p>
                    <form id="formconsulta" method="post" is="dmx-serverconnect-form" action="/api/consulta_insert" dmx-on:success="run([{run:{action:`formconsulta.reset()`}},{'toast.show':{message:'Pronto un especialista se comunicará con usted',title:'Su mensaje ha sido enviado'}}])">
                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group flex-column-left">
                                    <label for="correoelectronicoconsulta">Correo Electrónico*</label>
                                    <input type="email" class="form-control" id="correoelectronicoconsulta" name="correo-electronico-contacto-consulta" aria-describedby="input21_help" placeholder="nombre@email.com" data-rule-email="true" data-msg-email="Por favor ingrese un correo electrónico válido." required="" data-msg-required="Este campo es requerido">
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group flex-column-left">
                                    <label for="nombreconsulta">Nombre*</label>
                                    <input type="text" class="form-control" id="nombreconsulta" name="nombre-contacto-consulta" aria-describedby="input21_help" placeholder="Juan " required="" data-msg-required="Este campo es requerido" maxlength="50" data-msg-maxlength="Por favor ingresen no más de {50} caracteres.">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group flex-column-left">
                                    <label for="apellidoconsulta">Apellido*</label>
                                    <input type="text" class="form-control" id="apellidoconsulta" name="apellido-contacto-consulta" aria-describedby="input21_help" placeholder="Perez" required="" data-msg-required="Este campo es requerido" maxlength="50" data-msg-maxlength="Por favor ingresen no más de {50} caracteres.">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group flex-column-left">
                                    <label for="companiaconsulta">Compañía</label>
                                    <input type="text" class="form-control" id="companiaconsulta" name="compania-contacto-consulta" aria-describedby="input21_help" placeholder="Acme" maxlength="50" data-msg-maxlength="Por favor ingresen no más de {50} caracteres.">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group flex-column-left">
                                    <label for="telefonoconsulta">Número Telefónico</label>
                                    <input type="tel" class="form-control" id="telefonoconsulta" name="numero-telefonico-contacto-consulta" aria-describedby="input21_help" placeholder="000-000-0000">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group flex-column-left">
                                    <label for="paginawebcontactoconsulta">Página Web</label>
                                    <input type="url" class="form-control" id="paginawebcontactoconsulta" name="pagina-web-contacto-consulta" aria-describedby="input21_help" placeholder="www.contucarga.com" data-rule-url="" data-msg-url="por favor ingrese un URL válido">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group flex-column-left">
                                    <label for="industriaconsulta">Industria</label>
                                    <input type="text" class="form-control" id="industriaconsulta" name="industria-contacto-consulta" aria-describedby="input21_help" maxlength="50" data-msg-maxlength="Por favor ingresen no más de {50} caracteres.">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group flex-column-left">
                                    <label for="correoelectronico1">Valor del producto*</label>
                                    <select id="valorproducto" class="form-select" name="valor-producto" required="" data-msg-required="Este campo es requerido">
                                        <option value="Menor a 5.000 USD">Menor a 5.000 USD</option>
                                        <option value="5.001 a 20.000 USD">5.001 a 20.000 USD</option>
                                        <option value="20.001 a 50.000 USD">20.001 a 50.000 USD</option>
                                        <option value="Mayor a 50.000 50.001 a 500.000 USD">50.001 a 500.000 USD</option>
                                        <option value="Mayor a 500.000 USD">Mayor a 500.000 USD</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group flex-column-left">
                                    <label for="correoelectronico1">Cuando llega su mercancía?*</label>
                                    <select id="llegadamercancia" class="form-select" name="llegada-mercancia" required="" data-msg-required="Este campo es requerido">
                                        <option value="Ya está aquí">Ya está aquí</option>
                                        <option value="En los próximos 30 días">En los próximos 30 días</option>
                                        <option value="Entre 30 días y 3 meses">Entre 30 días y 3 meses</option>
                                        <option value="Aún no lo se">Aún no lo se</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group flex-column-left">
                                    <label for="correoelectronico1">Tipo de producto*</label>
                                    <select id="tipodeproducto" class="form-select" name="tipo-de-producto" required="" data-msg-required="Este campo es requerido">
                                        <option value="Maquinaria y Equipo Industrial">Maquinaria y Equipo Industrial</option>
                                        <option value="Equipo eléctrico Industrial">Equipo eléctrico Industrial</option>
                                        <option value="Electrónicos (Tablet, Pc, Audio, etc)">Electrónicos (Tablet, Pc, Audio, etc)</option>
                                        <option value="Materias primas">Materias primas</option>
                                        <option value="Textiles y sus manufacturas">Textiles y sus manufacturas</option>
                                        <option value="Juguetes">Juguetes</option>
                                        <option value="Equipo Médico">Equipo Médico</option>
                                        <option value="Joyería (Reloj, Accesorios, Bisuteria)">Joyería (Reloj, Accesorios, Bisuteria)</option>
                                        <option value="Químicos">Químicos</option>
                                        <option value="Otros">Otros</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 overflow-hidden">
                                <div class="form-group flex-column-left">
                                    <label for="correoelectronico1">Tipo de entidad*</label>
                                    <select id="tipodeentidad" class="form-select" name="tipo-de-entidad" required="" data-msg-required="Este campo es requerido">
                                        <option value="Soy particular y estoy considerando comercializar este tipo de productos o insumos">Soy particular y estoy considerando comercializar este tipo de productos o insumos</option>
                                        <option value="Soy particular y me dedico a comercializar este tipo de productos o insumos">Soy particular y me dedico a comercializar este tipo de productos o insumos</option>
                                        <option value="Trabajo para una empresa que está considerando comercializar este tipo de productos o insumos">Trabajo para una empresa que está considerando comercializar este tipo de productos o insumos</option>
                                        <option value="Trabajo para una empresa que comercializa este tipo de productos o insumos">Trabajo para una empresa que comercializa este tipo de productos o insumos</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 overflow-hidden">
                                <div class="form-group flex-column-left">

                                    <label for="correoelectronico1">Información adicional</label>
                                    <textarea id="informacionadicionalconsulta" class="form-control" name="informacion-adicional-consulta"></textarea>
                                </div>
                            </div>
                            <button class="btn btn-success style157" dmx-on:click="formconsulta.submit()">Agendar una llamada</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features #2 -->

<!-- Call to action -->

<!-- Testimonials -->
<section class="pt-7 pb-6 pt-lg-6">
    <div class="container pt-5">
        <h5 class="text-uppercase letter-spacing-lg text-center"><span class="text-success">Lo que DICEN nuestros</span>&nbsp;CLIENTES</h5>

        <div class="row mt-4 mt-lg-6 align-items-center">
            <div class="col-lg-4">
                <!-- Swiper -->
                <div class="swiper-container swiper-people" data-toggle="swiper" data-options='{ "effect": "fade", "grabCursor": true, "speed": 600, "loop": true, "navigation": { "nextEl": ".swiper-custom-button-next", "prevEl": ".swiper-custom-button-prev" } }'>
                    <div class="swiper-wrapper">
                        <!-- Slide -->
                        <div class="swiper-slide">
                            <div class="bg-cover h-400 h-sm-400 rounded-lg" style="background-image: url('/img/christina-wocintechchat-com-SJvDxw0azqw-unsplash.jpg');"></div>
                        </div>

                        <!-- Slide -->
                        <div class="swiper-slide">
                            <div class="bg-cover h-400 h-sm-400 rounded-lg" style="background-image: url('/img/thisisengineering-raeng-FXgbqr-t7uw-unsplash.jpg');"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="px-lg-5 pt-4 pt-lg-4 col-lg-7 h-100">
                <!-- Swiper -->
                <div class="swiper-container swiper-quotes style159" data-toggle="swiper" data-options='{ "grabCursor": true, "speed": 600, "loop": true, "navigation": { "nextEl": ".swiper-custom-button-next", "prevEl": ".swiper-custom-button-prev" } }'>
                    <div class="swiper-wrapper d-flex">
                        <!-- Slide -->
                        <div class="swiper-slide text-center">
                            <h3 class="font-weight-normal text-darkblue">“Mis operaciones mejoraron mucho con Contucarga. Anteriormente la comunicación con nuestro Agentes Aduanales no era consistente y&nbsp; esto resultaba en tiempos más largo y mayores costos operativos .”</h3>
                            <h5 class="font-weight-normal mt-4">Emiliana Godines</h5>
                            <p class="text-muted font-size-sm"><span class="svg-icon text-muted"><svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                                        <title>ionicons-v5-e</title>
                                        <line x1="400" y1="256" x2="112" y2="256" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line>
                                    </svg></span>&nbsp;Gerente de Importaciones, Makro</p>
                        </div>

                        <!-- Slide -->
                        <div class="swiper-slide text-center">
                            <h3 class="font-weight-normal text-darkblue">“El equipo de Contucarga me guió desde la compra a la entrega, todo el proceso fue super sencillo. Estoy muy feliz de haberlos encontrado.”</h3>
                            <h5 class="font-weight-normal mt-4">Mario Ramirez</h5>
                            <p class="text-muted font-size-sm"><span class="svg-icon text-muted"><svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                                        <title>ionicons-v5-e</title>
                                        <line x1="400" y1="256" x2="112" y2="256" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line>
                                    </svg></span> Gerente de Compras Internacionales, McDonalds</p>
                        </div>

                        <!-- Slide -->
                    </div>
                </div>

                <!-- Pagination -->
                <div class="d-flex justify-content-center mt-4">
                    <a href="#" class="swiper-custom-button-prev text-dark">
                        <i class="fas fa-arrow-left fa-lg"></i>
                    </a>
                    <a href="#" class="swiper-custom-button-next text-dark ml-4">
                        <i class="fas fa-arrow-right fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact form -->